.title{
    display: flex;
    padding-bottom: 2.5rem;
    background-color: var(--co-de-fundo);
}

.title__div{
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.title__profile{
    padding-right:10rem;
}

.title__profile{
    order: 99;
    width: 368px;
    height: 368px;
    align-content: center;
   
}

.title__container{
    
    padding-left: 10rem;
    
}

.title__bio{
    font-family: Raleway;
    font-size: 52px;
    font-weight: 700;
    line-height: 61px;
    letter-spacing: 0em;
    text-align: left;
    color: #464646;
}

.title__subsection{
    font-family: Raleway;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: #464646;
    

}
.title__network{
    display: flex;
    padding: 0;
    gap: 2rem;
    justify-content:left;
    align-items: flex-start;
}

.title__network__item{
    font-family: Raleway;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;

}